---
import IndexPage from '@/components/intro-component-with-sign-up-form/indexPage';
import Layout from '@/layouts/Intro-component-with-sign-up-form.astro';
---

<span class='hidden'></span>
<Layout>
	<IndexPage client:load />
</Layout>
