:root {
	--Softred: hsl(10, 79%, 65%);
	--Cyan: hsl(186, 34%, 60%);

	--Darkbrown: hsl(25, 47%, 15%);
	--Mediumbrown: hsl(28, 10%, 53%);
	--Cream: hsl(27, 66%, 92%);
	--Verypaleorange: hsl(33, 100%, 98%);
}

body {
	overflow: hidden;
	font-size: 16px;
	font-family: 'DM Sans', sans-serif;
	background: var(--Cream);
	color: var(--Darkbrown);
}

.hidden {
	transform: translateY(20rem) scale(0.5);
	opacity: 0;
}

:focus {
	outline: 3px dashed var(--Darkbrown);
	outline-offset: 2px;
}

@media screen and (max-width: 1400px) {
	:root {
		font-size: 13px;
	}
}

@media screen and (max-width: 1100px) {
	:root {
		font-size: 12px;
	}
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 10px;
	}
}

@media screen and (max-width: 370px) {
	:root {
		font-size: 9px;
	}
}

@media screen and (max-width: 300px) {
	:root {
		font-size: 8px;
	}
}