/*---VAR---*/

:root {
	--softBlue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);

	--Verydarkblue-main-BG: hsl(217, 54%, 11%);
	--Verydarkblue-card-BG: hsl(216, 50%, 16%);
	--Verydarkblue-line: hsl(215, 32%, 27%);
	--White: hsl(0, 0%, 100%);
}

/* ---- */

body {
	background-color: var(--Verydarkblue-main-BG);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 0.3rem;
}

.attribution {
	font-size: 0.7rem;
	text-align: center;
	position: absolute;
	color: var(--softBlue);
	right: 0;
	bottom: 0;
	font-family: 'Outfit', sans-serif;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
.attribution a:visited {
	color: var(--cyan);
}
.attribution a:link {
	color: white;
}

/* --- */
.card {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 14.5rem;
	height: 26rem;
	background-color: var(--Verydarkblue-card-BG);
	border-radius: 0.7rem;
	padding: 1rem;
	font-family: 'Outfit', sans-serif;
	/* Edited scale for DESIGN COMPARISON */
	transform: scale(1.3);
}

.card-image {
	position: relative;
	font-size: 0;
}

.eye {
	position: absolute;
	background-color: hsla(178, 100%, 50%, 0.356);
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-image > img:hover {
	cursor: pointer;
}

.card-image > img:hover + .eye {
	opacity: 1;
}

/* --- */
.card a,
.card h1 {
	font-weight: 600;
	font-size: 1rem;
	color: var(--White);
	margin: 1.2rem 0 0.3rem;
	display: inline-block;
	text-decoration: none;
}
.card h1 {
	margin: 0;
}
.card a:hover {
	color: var(--cyan);
}

.creator a {
	font-size: 0.8rem;
	font-weight: 300;
}

.card p {
	font-size: 0.85rem;
	color: var(--softBlue);
	margin: 0.6rem 0;
	font-weight: 300;
}

/* ---- */
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.3rem;
	font-size: 0.8rem;
	color: var(--cyan);
}

.info strong::before {
	content: '';
	background: url(/assets/nft-preview-card/icon-ethereum.svg) no-repeat
		center/9px;
	padding: 0 0.7rem;
}

.info p::before {
	content: '';
	background: url(/assets/nft-preview-card/icon-clock.svg) no-repeat center
		center/13px;
	padding: 0 0.7rem;
	line-height: 13px;
}

/* --- */
.creator {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	border-top: 1px solid var(--softBlue);
	padding: 0.6rem 0;
	font-size: 0.8rem;
}

.creator a {
	margin: 0;
}

.creator img {
	width: 1.5rem;
	border: 1px solid var(--White);
	border-radius: 50%;
}
