<header>
	<nav>
		<ul class='shadow-sm'>
			<li>
				<h1>
					<span>
						<a
							href='https://www.frontendmentor.io'
							target='_blank'
							rel='noopener noreferrer'
							>Frontend Mentor
						</a>
						Solutions
					</span>
					<span class='bycosmo'
						>By <a
							href='https://github.com/cosmoart'
							target='_blank'
							rel='noopener noreferrer'>Cosmo</a
						></span
					>
				</h1>
			</li>
		</ul>
	</nav>
</header>

<style>
	ul {
		list-style: none;
		padding: 0;
		text-align: center;
	}
	h1 {
		margin: 0;
		padding: 1.5rem 0;
		display: flex;
		flex-direction: column;
		font-weight: 600;
	}
	h1 .bycosmo {
		font-size: clamp(1.2rem, 1.5vw, 1.5rem);
	}
	h1 .bycosmo a {
		color: #6b8eff;
	}
	h1 > a {
		font-size: clamp(1.5rem, 1.5vw, 1.9rem);
	}
	h1 {
		line-height: 1.1;
	}
	a:visited {
		color: #c8d5ff;
	}
</style>
