---
import '@/components/intro-component-with-sign-up-form/styles.css';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Intro component with sign up form</title>

		<!-- Meta -->
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='author' content='CosmoArt' />
		<meta name='theme-color' content='#ff7a7a' />
		<meta
			name='description'
			content='Solution to the Frontend Mentor challenge, code by Cosmo Art'
		/>
		<meta name='robots' content='index, nofollow' />

		<!-- Open Graph -->
		<meta property='og:title' content='Intro component with sign up form' />
		<meta property='og:type' content='website' />
		<meta
			property='og:image'
			content='https://raw.githubusercontent.com/cosmoart/Intro-component-with-sign-up-form-solution/main/screenshots/desktop-solution.webp'
		/>
		<meta
			property='og:url'
			content='https://cosmo-intro-component-with-sign-up.netlify.app/'
		/>
		<meta
			property='og:description'
			content='Solution to the Frontend Mentor challenge, code by Cosmo Art'
		/>

		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
	</head>

	<body
		class='md:flex bg-h-pattern-M md:bg-h-pattern-D bg-pRed text-base font-poppins text-white text-center h-screen items-center justify-center'>
		<main
			id='root'
			class='flex p-6 md:p-9 flex-col justify-center items-center max-w-5xl md:flex-row md:gap-5 3xl:max-w-[74rem]'>
			<slot />
		</main>
	</body>
</html>
